.product {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid black;
}

.product-img {
  width: 190px;
}

.buynow-btn {
  background-color: rgb(25, 190, 255);
  border: none;
  padding: 1rem;
  font-size: 2rem;
  color: #1b1b1b;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: 0.25s;
  cursor: pointer;
}

.buynow-btn:hover {
  /* background-color: rgb(19, 113, 150);
      color: #ffffff; */
  box-shadow: 4px 2px 3px #1b1b1b;
  scale: 1.1;
}
